{% extends 'base.html.twig' %}

{% block title %}New Commmentaire{% endblock %}

{% block body %}
    <h1>Create new Commmentaire</h1>

    {{ include('commmentaire/_form.html.twig') }}

    <a href="{{ path('commmentaire_index') }}">back to list</a>
{% endblock %}
